.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 50px 200px;
    gap: 20px;
  }
  
  .product-item {
    display: flex;
    flex-direction: column;
    max-width: 20%;
  }
  
  .product-item img {
    max-width: 100%;
  }
  
  .product-item span {
    font-size: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 15px;
  }