
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif
}

.login-container{
    background-image: url("https://vcdn1-dulich.vnecdn.net/2021/07/16/1-1626437591.jpg?w=460&h=0&q=100&dpr=2&fit=crop&s=i2M2IgCcw574LT-bXFY92g");
    background-size: cover;
    height: 1000px;
    position: relative;
    width: 100%;
}

.login-overlay{
    position: absolute;
    width: 100%;
    height: 100%;
  
} 

.login-header{
    padding-top: 20px;
    padding-left: 44px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}


.login-header a{
    font-size: 5rem;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    color: #08c7a7;
}

.login-body{
    width: 448px;
    height: 600px;
    background-color:  rgba(0,0,0,0.75);
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 88px;
    border-radius: 5px;
    z-index: 1;
}

.login-form-header{
    font-size: 3.2rem;
    font-weight: 700px;
    color: #fff;
}

.login-form-container{
    padding: 60px 70px 0;
}


.login-form-input{
    width: 100%;
    height: 50px;
    margin-top: 16px;
    padding: 0 16px;
    color: #fff;
    font-size: 1.6rem;
    background-color:  #333333;
    border: 1px solid #333333;
    border-radius: 4px;
    outline: none;
}

.login-form-input:focus{
    border-bottom: 3px solid #eeaf67;
}

.login-form-input:first-child{
    margin-top: 30px;
}

.login-form-button{
    color: #fff;
    background-color: #174d82;
    width: 100%;
    font-size: 1.6rem;
    padding:16px;
    border-radius: 4px;
    border: 0px;
    margin: 40px 0 14px;
    font-weight: 700;
}

.login-form-help{
    color: #bf5f5f;
    font-size: 1.3rem;
    display: flex;
    justify-content: space-between;
}

.remberMe-cbx{
    height: 16px;
    width: 16px;
    border-radius: 2px;
    accent-color:#373535;
}

.remember-lbl{
    position: relative;
    bottom: 3px;
}

.help-link{
    text-decoration: none;
    color: #737373;
}

.login-form-other{
    margin-top: 60px;
}

.login-fb{
    text-decoration: none;
}

.login-fb-icon{
    height: 20px;
    width: 20px;
    margin-right: 10px;
}

.login-fb-text{
    font-size: 1.3rem;
    color: #737373;
    font-weight: 500;
    position: relative;
    bottom: 6px;
}

.login-form-signupnow
{
    font-size: 16px;
    color: #737373;
    margin-top: 16px;
}

.login-form-signupnow-link{
    color: #fff;
    text-decoration: none;
}

.login-term{
    color: #737373;
    font-size: 1.3rem;
    margin-top: 16px;
    color: #737373;

}

.login-term p{
    display: inline;
}

.login-term a{
    color: #0071eb;
    text-decoration: none;
}

.login-term a:hover{
    text-decoration: underline;
}


.login-footer{
    width: 100%;
    background-color:  rgba(0,0,0,0.75);
    height: 220px;
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 30px 0;
}



